html { font-size: 10px;}

main{
  width: 30rem;
  margin: 5rem auto;
}

img{
  vertical-align: bottom;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#main{
  width: 30rem;
  height: 20rem;
  margin-bottom: 0.8rem;
}

nav{
  margin-bottom: 0.8rem;
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.4rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{
      background: #f8f8f8;
    }
  }
}

#play{
  width: 14rem;
}

#prev, #next{
  width: 6rem;
}

.thumbnails{
  display: grid;
  grid-template-columns: repeat(5, 5.6rem);
  gap: 0.5rem;
  li{
    cursor: pointer;
    opacity: 0.4;
    &:hover{
      opacity: 1.0;
    }
  }
  li.current{
    opacity: 1.0;
  }
  img{
    width: 5.6rem;
  }
}

